//全局公共样式

@font-face {
  font-family: "base";
  src: url("./font/SourceHanSansCN-Normal.otf");
}

@font-face {
  font-family: "pm";
  src: url("./font/pm.ttf");
}

@font-face {
  font-family: "pm1";
  src: url("./font/庞门正道标题体3.0.ttf");
}

@font-face {
  font-family: "pm1";
  src: url("./font/PangMenZhengDaoBiaoTiTi-1.ttf");
}


@font-face {
  font-family: "sc";
  src: url("./font/Source_Han_Sans_SC_Bold.otf");
}

* {
  font-family: "sc" !important;
}